<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" type="text/css" href="../style/1.css"/>
</head>
<body>
<h1>Discussion Board</h1>
 <hr>
 <div class="first">
<!--   input the 1st message    -->
<form id="msg_input" >
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="message">Message:</label><br>
    <textarea name="message" id="message" class="message"></textarea><br>
    <button type="submit" name="submit" id="submit" >Post message</button><br><br>
</form>

<!--   show the 1st message     -->
<div class="show">
    <label for="name"><b>Name: </b> <%= name %></label><br>
    <label for="message"><b>Message: </b></label>
    <p for="message"> <%= message %></p> 

<!--   show the 1st comment replay post    -->
    <div class="show1">
        <label for="name">Name: <%= name %>1</label><br>
        <label for="comment">Comment:</label>
        <p class="show2"><%= comment %></p>
    
 <!--   input the first comment post    -->               
    <div class="add">
    <form >
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="message">Comment:</label><br>
        <textarea name="message" id="message" class="message1"></textarea><br>
        <button type="submit" name="submit1" id="submit1" >Post Comment</button><br><br>
    </form>
    </div></div>
</div></div>
</body>
</html>
